/*Css*/

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, ;
}

header {
    font-size: 14px;
}

.top-header {
    background-color: #e6e6e6;
    padding: 05px 0px 0px 0px;
}

.navbar-nav {
    text-align-last: right;
}